Code/
Cursor/
Slack/
nwg-look/
nwg-displays/
go/
fontforge/
google-chrome/
LosslessCut/
spotify/
gopls/
kde.org/
ego/
ranger/
yay/
systemd/
balenaEtcher/
flutter/
obsidian/
inkscape/
obs-studio/
pulse/
