* {
    color: #ADADB2;
    background: #07070A;
    border: none;
    border-radius: 8px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: #787B8E;
    background: #07070A;
    border-radius: 8px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid #D7DEB2;
}
