* {
    color: #B6B8BC;
    background: #0E0F13;
    border: none;
    border-radius: 8px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: #A26D77;
    background: #0E0F13;
    border-radius: 8px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid #E9CF9D;
}
