/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/saatvik333/Pictures/Wallpapers/Catppuccin/catppuccin-black-hole.png");

    /* Special */
    --background: #07070A;
    --foreground: #ADADB2;
    --cursor: #CBB8B3;

    /* Colors */
    --color0:  #3F4039;
    --color1:  #4B4B54;
    --color2:  #787B8E;
    --color3:  #818D7E;
    --color4:  #A7A2C9;
    --color5:  #E8C3B4;
    --color6:  #D7DEB2;
    --color7:  #828288;
    --color8:  #5B5B5F;
    --color9:  #4B4B54;
    --color10: #787B8E;
    --color11: #818D7E;
    --color12: #A7A2C9;
    --color13: #E8C3B4;
    --color14: #D7DEB2;
    --color15: #828288;
}
