/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/saatvik333/Pictures/Wallpapers/Catppuccin/catppuccin-train-sideview.png");

    /* Special */
    --background: #0B0C10;
    --foreground: #B3B3B9;
    --cursor: #C0BEC7;

    /* Colors */
    --color0:  #494741;
    --color1:  #575864;
    --color2:  #80798B;
    --color3:  #97BDA8;
    --color4:  #F5B09D;
    --color5:  #CCC9D4;
    --color6:  #F0E2BD;
    --color7:  #8A8B93;
    --color8:  #616167;
    --color9:  #575864;
    --color10: #80798B;
    --color11: #97BDA8;
    --color12: #F5B09D;
    --color13: #CCC9D4;
    --color14: #F0E2BD;
    --color15: #8A8B93;
}
